.currentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 24px;
}

.infoWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .infoWrapper {
    flex-direction: row;
  }
}

.weatherTemp {
  display: flex;
  align-items: center;

  padding: 0 8px;

  &>img {
    height: 70px;
    width: auto;
    margin-right: 16px;
  }

  &>p {
    font-weight: 700;
    font-size: 5em;
    color: #4a5568;
    margin: 0;

    &>span {
      margin-left: 8px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .weatherTemp {
    border-right: 1px solid #e3e5f0;
  }
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  color: #718096;

  &>p {
    margin: 0;
  }
}

.clouds {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  text-align: center;

  &::first-letter {
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1024px) {
  .clouds {
    text-align: left;
  }
}

.city {
  font-size: 2.5em;
  font-weight: 400;

  &>span {
    margin-right: 3px;
  }

  &>span>svg {
    font-size: 0.7em;
    margin-right: 8px;
    vertical-align: baseline;
  }
}

.tempToggle {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  &>button {
    margin: 0 8px;
  }

  &>span {
    color: #a0aec0;
  }
}