body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #353744 !important;
  background-color: #f9fafd !important;
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  line-height: initial !important;
}
